---

---

<nav class="flex justify-center items-center gap-6 mb-4">
  <a href="/">Principal</a>
  <a href="/pokemons/1">Listado Paginado</a>
</nav>

<style>
  a {
    @apply text-blue-500 hover:underline;
  }
</style>
